@charset "UTF-8";
/* CSS Document */

#one {
	display: hidden;
}

#two {
	display: hidden;
}

#three {
	display: hidden;
}

#four {
	display: hidden;
}

.winner {
	font-family: Raleway;
}

#test {
	height: 0;
	overflow: hidden;
}

.hidden {
  display: none; 
}

#barcode {
  opacity: 1;
}

html, body {
	font-family: proxima-nova, sans-serif;
	background: linear-gradient(90deg, #0b1144, #12659d);
	background-size: 500% 500%;

 -webkit-animation: AnimationGradient 30s ease infinite;
-moz-animation: AnimationGradient 30s ease infinite;
animation: AnimationGradient 30s ease infinite;
}

 @-webkit-keyframes AnimationGradient {
    0%{background-position:7% 0%}
    50%{background-position:94% 100%}
    100%{background-position:7% 0%}
}
@-moz-keyframes AnimationGradient {
    0%{background-position:7% 0%}
    50%{background-position:94% 100%}
    100%{background-position:7% 0%}
}
@keyframes AnimationGradient {
    0%{background-position:7% 0%}
    50%{background-position:94% 100%}
    100%{background-position:7% 0%}
}

body p {
	color: #FFFFFF;
}

#main {
    max-width: 100%;
    max-height: 100%;
}

#content {
	text-align: left;
	margin-left: 50px;
	font-size: 23px;
	margin-bottom: 75px;
}

#topContent {
    width: 70%;
    margin: 0 auto;
}

/*img.timer {
    max-height: 10%;
    max-width: 10%;
}*/

/*OPENING*/

img.proximaLogoLarge {
    max-height: 75%;
    max-width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 11.5%;
    left: 25%;
    right: 25%;
    bottom: 25%;
        -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

/*BARCODE*/

img.proximaLogoSmall {
    max-height: 10%;
    max-width: 10%;
    padding-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.scanBarCode {
	text-align: center;
	font-size: 40px;
	margin-top: 150px;
}

.barCode {
	 display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 30%;
    max-width: 30%;
  	margin-top: 30px;
}

/*INSTRUCTIONS*/

.instructions {
	text-align: center;
	font-size: 25px;
	margin-top: 150px;
	margin-left: 180px;
	margin-right: 180px;
}

.pressButton {
	color: #FFFFFF;
	font-size: 25px;
	text-align: center;
	margin-top: 50px;
}

img.questionExample {
    max-height: 50%;
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
        -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

/*INSTRUCTIONS 2*/

img.instructionsScore {
	max-height: 90%;
    max-width: 90%;
    margin-top: 100px;
    margin-bottom: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
        -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

img.orange {
        -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

/*TIMER INSTRUCTIONS*/

img.instructionsScore {
	max-height: 80%;
    max-width: 80%;
    margin-top: 100px;
    margin-bottom: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
        -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

/*LIFE LINE INSTRUCTIONS*/

.lifeLine {
	text-align: center;
	font-size: 25px;
	margin-top: 150px;
	margin-bottom: 50px;
	margin-left: 100px;
	margin-right: 100px;
}

.orange {
	max-height: 75%;
    max-width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*PRESS BUTTON START*/

.pressButtonStart {
	font-size: 70px;
	text-align: center;
	padding-top: 240px;
}

/*WINNER*/

.winner {
	display: inline-block;
	font-size: 80px;
	color: #FB8F13;
	text-align: center;
	margin-top: 200px;
}

img.winnerDeveloper {
	max-height: 60%;
	max-width: 60%;
	display: block;
    margin-left: auto;
    margin-right: auto;
        -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

.congratulations {
	margin-top: 30px;
	font-size: 25px;
	text-align: center;
}

img.triangle {
	display: inline-block;
	text-align: center;
	max-height: 20%;
	max-width: 20%;
	margin-left: 
	margin-left: auto;
  margin-right: auto;
        -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

#p9 {
	text-align: center;
}

/*GIFT CARD*/

#p10 {
	text-align: center;
	padding-top: 100px;
}

img.GC {
	display: inline-block;
	max-height: 40%;
	max-width: 40%;
        -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

.prize {
	font-size: 50px;
	color: #FFFFFF;
	padding-top: 30px;
	margin-bottom: 30px;
}

.askAudienceH1 {
  font-size: 50px;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.pleaseWait {
	font-size: 30px;
}

img.triangleGC {
	display: inline-block;
	text-align: center;
	max-height: 20%;
	max-width: 20%;
	margin-left: auto;
    margin-right: auto;
    padding-bottom: 125px;
    margin-right: 60px;
    margin-left: 60px;
        -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

/* YOU LOSE */

#p11 {
    text-align: center;
    
}


img.audience {
	display: inline-block;
    margin-left: auto;
    margin-right: auto;
    max-height: 10%;
    max-width: 10%;
    padding-left: 50px;
    padding-right: 25px;
        -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

img.fiftyfifty {
	display: inline-block;
    margin-left: 0;
    margin-right: 0;
    max-height: 10%;
    max-width: 10%;
        -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

img.mainlogo {
	display: inline-block;
    margin-left: auto;
    margin-right: auto;
    max-height: 25%;
    max-width: 25%;
    padding-left: 80px;
    margin-top: 80px;
        -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

p.levels {
	display: inline-block;
}

img.questionsField {
	display: block;
    margin-left: 0;
    margin-right: 0;
    max-height: 100%;
    max-width: 100%;
    margin-top: 20px;
        -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

#level {
	display: inline-block;
	color:#FFFFFF;
	margin-left: 140px;
}

#points {
	display: inline-block;
	color:#FFFFFF;
	padding-left: 30px;
}

.levelNumber {
	display: block;
	color: #E8A100;
}

.pointsNumber {
	display: block;
	color: #E8A100;
}

#video {
    position: center;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
}

#mainGamePlay p {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/*
@keyframes fadeout {
   from { opacity: 1; }
   to { opacity: 0; } 
} 

@-moz-keyframes fadeout {
   from { opacity: 1; }
   to { opacity: 0; } 
} 

@-webkit-keyframes fadeout {
   from { opacity: 1; }
   to { opacity: 0; } 
} 

@-ms-keyframes fadeout {
   from { opacity: 1; }
   to { opacity: 0; } 
} 
*/
/*# sourceMappingURL=main.css.map */

/*TIMER*/

#countDown {
  color: #FFA500;
  padding-left: 100px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 50px;
}

#countDownAudience {
  color: #FFA500;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 100px;
}

img.audienceOrangeSelection {
  margin-top: 25px;
  max-width: 50%;
  max-height: 50%;
}

.timerText {
  font-size: 50px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 20px;
}


/*Ask Audience*/

#p12 {
  display: none;
  position: absolute;
  background: #000;
  background:rgba(0,0,0,0.85);
  text-align: center;
  height: 440px;
  left: 0;
  right: 0;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-top: ;
  padding-bottom: 20px;
  margin-top: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  box-sizing: border-box;
}